[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
pymysql = "*"
flask-restful = "*"
marshmallow = "*"
greenlet = "*"
altair = "*"
vega-datasets = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
ipykernel = "*"
requests = "*"

[requires]
python_version = "3.8"
